* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	font-size: clamp(1.4rem, 1.3vw, 2.4rem);
	font-family: var(--ff-base);
	font-weight: var(--fw-regular);
	line-height: 1.4;
	color: var(--cl-black);
	background-color: var(--cl-bg);
}

section {
	z-index: 5;
	position: relative;
}
